@media (min-width: 767px) {
    h1{
        font-family: Poppins;
        font-size: 50px;
        color: #000000;
    }

    h2{
        font-family: Poppins;
        font-size: 40px;
        color: #000000;
    }

    h3{
        font-family: Poppins;
        font-size: 22px;
        color: #000000;
    }

    h4{
        font-family: Muli;
        font-size: 16px;
        color: #000000;
    }
}

@media (max-width: 767px) {
    h1{
        font-family: Poppins;
        font-size: 26px;
        color: #000000;
    }

    h2{
        font-family: Poppins;
        font-size: 26px;
        color: #000000;
    }

    h3{
        font-family: Poppins;
        font-size: 20px;
        color: #000000;
    }

    h4{
        font-family: Muli;
        font-size: 14px;
        color: #000000;
    }
}
