footer {
    border-radius:28% 0 0 0;
    background-repeat:no-repeat;
    background-color:#E60012;
    color:#FFF;
    background-size:cover
}

.container-fluid {
    display: none;!important;
}

.desktop-footer {
    display:inherit;
    padding: 40px 7.2vw 10px 7.2vw
}
.mobile-footer {
    display:none;
    padding:50px 50px
}
.fab {
    padding:2%
}
.fa-twitter {
    cursor:pointer;
    font-size:150%
}
.fa-facebook-f {
    cursor:pointer;
    font-size:150%
}
.fa-instagram {
    cursor:pointer;
    font-size:150%
}
.fa-youtube {
    cursor:pointer;
    font-size:150%
}
.nomenu-footer-hr {
    display: none;!important;
    background:#13318c;
    height:50px
}
.desktop-footer-itemlist-frame {
    color:#FFF;
    font-family:Muli;
    font-size:16px;
    vertical-align:top;
    text-align:left;
    margin-left:10px;
    padding-right:10px
}
.mobile-footer-itemlist-frame {
    vertical-align:top;
    padding-top:34px;
    padding-bottom:15px;
    color:#FFF;
    font-family:Muli;
    font-size:14px;
    line-height:32px
}
.desktop-footer-disclaimer {
    /*display:inherit;*/
    padding:10px 7.2vw;
    background:#E60012;
    display: none;!important;
}
.mobile-footer-disclaimer {
    display:none;!important;
    padding:24px 30px 28px 30px
}
.nomenu-desktop-footer-disclaimer {
    display:none;!important;
    padding:32px 7.2vw;
    background:#E60012
}
.nomenu-mobile-footer-disclaimer {
    display:none;
    padding:24px 30px 28px 30px;
    background:#E60012
}
.campaigns-desktop-footer-disclaimer {
    display:inherit;
    padding:32px 7.2vw;
    background:#0B318F
}
.campaigns-mobile-footer-disclaimer {
    display:none;
    padding:24px 30px 28px 30px;
    background:#0B318F
}
.footer-btn {
    cursor:pointer;
    font-family:Muli;
    font-weight:700;
    font-size:16px
}
.footer-disclaimer-item {
    color:#0D1A3B;
    font-size:12px;
    font-weight:700;
    letter-spacing:.2px;
    line-height:26px;
    cursor:pointer
}
.footer-campaigns {
    color:#fff;
    font-family:Muli;
    font-size:17px;
    font-weight:700;
    line-height:21px;
    text-align:right
}
.desktop-footer-cimbsecurities {
    color:#ffffff;
    font-family:Lato;
    font-size:16px;
    font-weight:700;
    line-height:21px;
    text-align:left
}
.desktop-footer-cimbsecurities>a {
    color: #ffffff !important;
    text-decoration: underline !important;
}
.mobile-footer-cimbsecurities {
    color:#9B9B9B;
    font-family:Lato;
    font-size:14px;
    font-weight:700;
    line-height:17px;
    text-align:right;
    padding-top:15px
}
.footer-icon {
    width:22px;
    height:22px;
    margin-right:33px;
    cursor:pointer
}
.mobile-footer .footer-icon {
    margin-right:27px
}
.footer-lower {
    border-top:1px solid #FFF;
    padding-top:38px
}
.contact-us-background {
    background:url(https://www.cgsi.com/cgsiresources/system/contactusbackground.png)no-repeat;
    background-size:cover;
    min-height:314px;
    background-position:right
}
.contact-us-title-padding {
    padding-top:57px;
    padding-left:80px;
    padding-right:7.2vw
}
.contact-us-title-content {
    color:#FBFCFD;
    font-family:Poppins;
    font-size:50px;
    font-weight:700;
    line-height:64px
}
.contact-us-info-padding {
    padding-top:36px
}
.contact-us-info-divider-padding {
    padding-top:17px
}
.contact-us-info-divider {
    box-sizing:border-box;
    height:2px;
    width:55px;
    border:1px solid #FFF
}
.contact-us-info-content {
    color:#FBFCFD;
    font-family:Muli;
    font-size:16px;
    line-height:32px
}
.contact-us-info-content-frame {
    max-width:754px
}
.contact-us-lower {
    margin-bottom:92px
}
.contact-us-lower-title-frame {
    margin-top:81px;
    margin-right:176px!important;
    margin-left:176px!important;
    padding-bottom:32px;
    border-bottom:1px solid #D8D8D8
}
.contact-us-lower-selector-controll {
    margin-left:29px;
    width:184px
}
.contact-us-lower-selector-controll .select-selected {
    color:black!important
}
.contact-us-lower-info-frame {
    margin-top:34px;
    margin-right:172px!important;
    margin-left:176px!important
}
.contact-us-lower-info-content {
    font-family:Muli;
    font-size:16px;
    font-weight:700
}
.contact-us-lower-info-item2 {
    margin-top:41px;
    max-width:500px
}
.contact-us-lower-info-item1 {
    max-width:500px
}
.contact-us-lower-info-frame-left {
    paddding-right:20px
}
.contact-us-lower-map-frame {
    border-radius:6px
}
.drop-us-a-call-block-padding {
    padding-top:81px;
    padding-left:176px
}
.drop-us-a-call-content {
    font-family:Poppins;
    font-size:26px;
    font-weight:700;
    line-height:36px
}
.drop-us-a-call-divider-padding {
    padding-top:50px
}
.drop-us-a-call-divider {
    height:1px;
    width:1088px;
    background-color:#D8D8D8
}
.place-content {
    color:#231F20;
    font-family:Poppins;
    font-size:20px;
    font-weight:700;
    line-height:36px
}
.place-address-content {
    color:#231F20;
    font-family:Muli;
    font-size:14px;
    line-height:30px
}
.place-icon-padding {
    padding-top:17px
}
.place-map-padding {
    padding-top:35px
}
.place-icon-rectangle {
    height:24px;
    width:24px
}
.place-icon-content {
    color:#231F20;
    font-family:Muli;
    font-size:16px;
    font-weight:700;
    line-height:30px
}
.terms-policy-main-frame {
    margin-left:7.2vw;
    margin-right:7.2vw
}
.terms-policy-upper {
    margin-left:7.2vw;
    margin-right:7.2vw
}
.terms-policy-lower {
    margin-left:7.2vw;
    margin-right:7.2vw;
    margin-bottom:83px
}
.terms-policy {
    margin-top:69px;
    color:#231F20;
    font-family:Poppins;
    font-size:50px;
    font-weight:700;
    line-height:72px
}
.terms-policy-selector-control {
    display:none
}
.terms-policy-divider {
    margin-top:71px;
    box-sizing:border-top;
    height:2px;
    width:100%;
    border-bottom:1px solid #D8D8D8
}
.terms-policy-frame {
    padding-top:75px;
    padding-left:100px!important
}
.terms-conditions-title {
    color:#231F20;
    font-family:Poppins;
    font-size:40px;
    font-weight:700;
    line-height:72px
}
.terms-conditions-subtitle {
    padding-top:39px;
    color:#212121;
    font-family:Poppins;
    font-size:22px;
    font-weight:700;
    line-height:33px
}
.terms-conditions-content {
    color:#231F20;
    font-family:Muli;
    font-size:16px;
    line-height:32px
}
.terms-conditions-table {
    max-width:764px
}
.terms-conditions-col1 {
    width:44px;
    text-align:left;
    vertical-align:top
}
.terms-conditions-col2 {
    text-align:left;
    vertical-align:top
}
.temandpolicy-frame {
    margin-left:7.2vw;
    margin-right:7.2vw;
    margin-bottom:82px
}
.phone-terms-policy {
    display:none
}
.product-categories.active {
    color:#0B318F;
    font-weight:900
}
.terms-policy-lower-right {
    padding-left:100px
}
.terms-of-use-main {
    margin-top:69px;
    margin-left:7.2vw;
    margin-right:7.2vw;
    margin-bottom:103px
}
.terms-of-use-title {
    color:#231F20;
    font-family:Poppins;
    font-size:50px;
    font-weight:700;
    line-height:72px
}
.terms-of-use-subtitle {
    color:#212121;
    font-family:Poppins;
    font-size:22px;
    font-weight:700;
    line-height:33px
}
.terms-of-use-content {
    color:#231F20;
    font-family:Muli;
    font-size:16px;
    line-height:32px
}
.terms-of-use-content-details {
    color:#231F20;
    font-family:Muli;
    font-size:16px;
    line-height:30px
}
.sitemap-background {
    background:url(https://www.cgsi.com/cgsiresources/system/contactusbackground.png)no-repeat;
    background-size:cover;
    height:205px
}
.sitemap-title {
    margin-left:7.2vw;
    padding-top:60px;
    color:#FBFCFD;
    font-family:Poppins;
    font-size:50px;
    font-weight:700;
    line-height:72px
}
.sitemap-title>h1>span {
    color:#FBFCFD
}
.sitemap-subtitle {
    color:#212121;
    font-family:Poppins;
    font-size:22px;
    font-weight:700;
    line-height:33px
}
.sitemap-sub-subtitle,sitemap-sub-sub-subtitle,sitemap-content {
    color:#231F20;
    font-family:Muli;
    font-size:16px;
    font-weight:700;
    line-height:40px
}
.sitemap-lower-left {
    padding-left:7.2vw;
    margin-top:94px
}
.sitemap-lower-left .all-exchange-traded {
    max-width:230px
}
.sitemap-lower-right p {
    margin-bottom:0rem!important
}
.sitemap-lower-right {
    margin-bottom:97px;
    padding-right:7.2vw!important
}
.sitemap-lower-right-padding {
    /*	padding-left:7.2vw!important;*/
    margin-top:75px
}
.sitmap-subtitle-frame {
    padding:47px 0;
    border-bottom:1px solid #D8D8D8;
    cursor:pointer
}
.sitemap-subtitle-lg {
    color:#212121;
    font-family:Poppins;
    font-size:40px;
    font-weight:700;
    line-height:72px
}
.sitemap-collapse-frame {
    padding:47px 0;
    border-bottom:1px solid #D8D8D8
}
.sitemap-collapse {
    background:url(https://www.cgsi.com/cgsiresources/system/arrow_up.svg) no-repeat 98% 50%;
    cursor:pointer
}
.sitemap-collapse.collapsed {
    background:url(https://www.cgsi.com/cgsiresources/system/arrow_down.png) no-repeat 98% 50%
}
.collapse-iteam-frame {
    border-bottom:1px solid #D8D8D8
}
.sitemap-collapse-title-frame {
    margin-top:37px
}
.sitemap-collapse-title {
    font-family:Muli;
    font-size:16px;
    font-weight:900;
    line-height:45px
}
.sitemap-collapse-info {
    color:#231F20;
    font-family:Muli;
    font-size:16px;
    font-weight:700;
    margin-bottom:0px!important
}
.sitemap-collapse-info-frame2 .sitemap-collapse-info {
    margin-right:auto;
    min-width:280px
}
.sitemap-collapse-info-frame2 li {
    float:left
}
.collapse-item {
    margin-right:auto;
    min-width:280px
}
.phone-sitemap-lower-left-frame {
    display:none
}
.cookies-modal {
    position:fixed;
    z-index:1020;
    left:0;
    top:0;
    overflow:auto;
    -webkit-animation-name:fadeIn;
    -webkit-animation-duration:0.4s;
    animation-name:fadeIn;
    animation-duration:0.4s
}
.cookies-modal-content {
    position:fixed;
    bottom:0;
    right:0;
    background-color:#fefefe;
    width:100%;
    max-width:500px;
    -webkit-animation-name:slideIn;
    -webkit-animation-duration:0.4s;
    animation-name:slideIn;
    animation-duration:0.4s;
    border:1px solid rgba(0,0,0,.2);
    border-radius:6px;
    padding:50px 30px
}
.cookies-close {
    color:#0B318F;
    font-size:35px;
    font-weight:100;
    position:absolute;
    top:6px;
    right:30px
}
.cookies-close:hover,.cookies-close:focus {
    color:#000;
    text-decoration:none;
    cursor:pointer
}
.cookies-modal-header {
    border-radius:6px 6px 0 0
}
.cookies-modal-header-title {
    color:#231F20;
    font-family:Poppins;
    font-size:22px;
    font-weight:700;
    line-height:32px
}
.cookies-modal-body-info {
    opacity:.7;
    color:#231F20;
    font-family:Muli;
    font-size:16px
}
.cookies-modal-footer {
    opacity:.7;
    color:#231F20;
    font-family:Muli;
    font-size:16px;
    line-height:30px;
    border-radius:0 0 6px 6px
}
@-webkit-keyframes slideIn {
    from {
        bottom:-300px;
        opacity:0
    }
    to {
        bottom:0;
        opacity:1
    }
}@keyframes slideIn {
    from {
        bottom:-300px;
        opacity:0
    }
    to {
        bottom:0;
        opacity:1
    }
}@-webkit-keyframes fadeIn {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}@keyframes fadeIn {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}@media (max-width:767px) {
    .footer-btn {
        cursor:pointer;
        font-family:Muli;
        font-weight:700;
        font-size:14px
    }
    .desktop-footer {
        display:none
    }
    .mobile-footer {
        display:inherit;
        padding:40px 30px
    }
    .desktop-footer-disclaimer {
        display:none
    }
    .mobile-footer-disclaimer {
        display:inherit;
        background:#E60012;
    }
    .footer-campaigns {
        color:#fff;
        font-family:Muli;
        font-size:14px;
        font-weight:700;
        line-height:21px;
        text-align:left;
        margin-top:20px
    }
    .nomenu-desktop-footer-disclaimer {
        display:none;
        background:#F7F7F7
    }
    .nomenu-mobile-footer-disclaimer {
        display:inherit;
        background:#E60012;
    }
    .campaigns-desktop-footer-disclaimer {
        display:none;
        background:#0B318F
    }
    .campaigns-mobile-footer-disclaimer {
        display:inherit;
        background:#0B318F
    }
    .phone-footer-lower .mobile-footer-itemlist-frame {
        padding-bottom:0;
        padding-top:10px
    }
    .mobile-footer-itemlist-frame p {
        margin-bottom:0
    }
    .phone-footer-lower .footer-icon {
        margin-top:32px;
        width:16px;
        height:16px
    }
    .terms-policy-main .col-no-padding {
        padding-left:0
    }
    .terms-and-policy-selector-controll .select-selected {
        color:black!important
    }
    .terms-and-policy-selector-controll .select-items {
        left:0;
        right:0
    }
    .terms-policy-main-frame {
        width:300px
    }
    .terms-policy {
        margin-top:32px;
        color:#212121;
        font-family:Poppins;
        font-size:26px;
        font-weight:700;
        letter-spacing:.21px;
        line-height:35px
    }
    .terms-policy-selector-control {
        display:block
    }
    .terms-policy-divider {
        margin-top:34px;
        box-sizing:border-top;
        height:2px;
        width:100%;
        border-bottom:1px solid #D8D8D8
    }
    .terms-policy-frame {
        padding-top:32px;
        padding-left:0px!important;
        padding-right:0px!important
    }
    .terms-conditions-title {
        color:#212121;
        font-family:Poppins;
        font-size:20px;
        font-weight:700;
        line-height:30px
    }
    .terms-conditions-subtitle {
        padding-top:32px;
        color:#212121;
        font-family:Poppins;
        font-size:20px;
        font-weight:700;
        line-height:30px
    }
    .terms-conditions-content {
        color:#231F20;
        font-family:Muli;
        font-size:14px;
        line-height:24px
    }
    .terms-conditions-table {
        max-width:764px
    }
    .terms-conditions-col1 {
        width:40px;
        text-align:left;
        vertical-align:top
    }
    .terms-conditions-col2 {
        text-align:left;
        vertical-align:top
    }
    .terms-policy-upper {
        margin-left:30px;
        margin-right:30px
    }
    .terms-policy-lower {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:68px
    }
    .temandpolicy-frame {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:61px
    }
    .phone-terms-policy {
        display:block
    }
    .terms-policy-selector-control {
        margin-top:44px
    }
    .terms-policy-selector-control .select-selected {
        color:black!important
    }
    .terms-policy-selector-control .select-items {
        left:0;
        right:0
    }
    .col-no-padding-right {
        padding-right:0px!important
    }
    .terms-policy-lower-right {
        padding-left:0
    }
    .terms-of-use-main {
        margin-top:32px;
        margin-left:30px;
        margin-right:30px;
        margin-bottom:62px
    }
    .terms-of-use-title {
        color:#212121;
        font-family:Poppins;
        font-size:26px;
        font-weight:700;
        letter-spacing:.21px;
        line-height:35px
    }
    .terms-of-use-subtitle {
        color:#212121;
        font-family:Poppins;
        font-size:20px;
        font-weight:700;
        line-height:30px
    }
    .terms-of-use-content {
        color:#231F20;
        font-family:Muli;
        font-size:14px;
        line-height:24px
    }
    .terms-of-use-content-details {
        color:#231F20;
        font-family:Muli;
        font-size:14px;
        line-height:24px
    }
    .sitemap-background {
        background:url(https://www.cgsi.com/cgsiresources/system/contactusbackground.png)no-repeat;
        background-size:cover;
        height:108px
    }
    .sitemap-title {
        margin-left:28px;
        padding-top:36px;
        color:#FFF;
        font-family:Poppins;
        font-size:26px;
        font-weight:700;
        letter-spacing:.21px;
        line-height:35px
    }
    .sitemap-title>h1>span {
        color:#FFF
    }
    .sitemap-subtitle {
        color:#212121;
        font-family:Poppins;
        font-size:26px;
        font-weight:700;
        line-height:30px
    }
    .sitemap-sub-subtitle {
        color:#212121;
        font-family:Poppins;
        font-size:20px;
        font-weight:700;
        line-height:30px
    }
    .sitemap-sub-sub-subtitle {
        color:#231F20;
        font-family:Muli;
        font-size:14px;
        font-weight:900;
        line-height:24px
    }
    .sitemap-content {
        color:#231F20;
        font-family:Muli;
        font-size:14px;
        font-weight:700;
        line-height:24px
    }
    .sitemap-lower .col-no-padding {
        padding-left:0
    }
    .sitemap-lower-left {
        display:none
    }
    .sitemap-lower-right p {
        margin-bottom:0rem!important
    }
    .sitemap-lower-right {
        margin-bottom:51px
    }
    .sitemap-lower-right-padding {
        padding-left:30px!important;
        margin-top:33px;
        padding-right:30px!important
    }
    .sitmap-subtitle-frame {
        padding:47px 0;
        border-bottom:1px solid #D8D8D8;
        cursor:pointer
    }
    .sitemap-subtitle-lg-frame {
        padding-top:33px
    }
    .sitemap-subtitle-lg {
        color:#212121;
        font-family:Poppins;
        font-size:26px;
        font-weight:700;
        line-height:30px
    }
    .sitemap-collapse-frame {
        padding:35px 0;
        border-bottom:1px solid #D8D8D8
    }
    .sitemap-collapse {
        background:url(https://www.cgsi.com/cgsiresources/system/arrow_up.svg) no-repeat 98% 50%;
        cursor:pointer
    }
    .sitemap-collapse.collapsed {
        background:url(https://www.cgsi.com/cgsiresources/system/arrow_down.png) no-repeat 98% 50%
    }
    .collapse-iteam-frame {
        border-bottom:1px solid #D8D8D8
    }
    .sitemap-collapse-title-frame {
        margin-top:26px
    }
    .sitemap-subtitle {
        color:#212121;
        font-family:Poppins;
        font-size:20px;
        font-weight:700;
        line-height:30px
    }
    .sitemap-collapse-title {
        color:#231F20;
        font-family:Muli;
        font-size:14px;
        font-weight:900;
        line-height:24px
    }
    .sitemap-collapse-info {
        color:#231F20;
        font-family:Muli;
        font-size:14px;
        font-weight:700;
        line-height:24px;
        margin-bottom:0px!important
    }
    .sitemap-collapse-info-frame2 .sitemap-collapse-info {
        margin-right:auto;
        min-width:240px
    }
    .sitemap-collapse-info-frame2 li {
        float:left
    }
    .collapse-item {
        margin-right:auto;
        min-width:240px
    }
    .phone-sitemap-lower-left-frame {
        display:block;
        padding-bottom:34px;
        border-bottom:1px solid #D8D8D8
    }
    .phone-sitemap-lower-left-selector-controll .select-selected {
        color:black!important
    }
    .phone-sitemap-lower-left-selector-controll .select-items {
        left:0;
        right:0
    }
    .contact-us-background {
        background:url(https://www.cgsi.com/cgsiresources/system/contactusbackground.png)no-repeat;
        background-size:cover;
        min-height:314px;
        background-position:right
    }
    .contact-us-title-padding {
        padding-top:57px;
        padding-left:30px;
        padding-right:30px
    }
    .contact-us-title-content {
        color:#FBFCFD;
        font-family:Poppins;
        font-size:26px;
        font-weight:700;
        line-height:64px
    }
    .contact-us-info-padding {
        padding-top:36px
    }
    .contact-us-info-divider-padding {
        padding-top:17px
    }
    .contact-us-info-divider {
        box-sizing:border-box;
        height:2px;
        width:55px;
        border:1px solid #FFF
    }
    .contact-us-info-content {
        color:#FBFCFD;
        font-family:Muli;
        font-size:14px;
        line-height:32px
    }
    .contact-us-info-content-frame {
        max-width:754px
    }
    .contact-us-lower {
        margin-bottom:0
    }
    .contact-us-lower-title-frame {
        margin-top:36px;
        margin-right:0px!important;
        margin-left:0px!important;
        padding-right:30px;
        padding-left:30px;
        padding-bottom:34px;
        border-bottom:1px solid #D8D8D8
    }
    .contact-us-lower-selector-controll {
        margin-left:0;
        width:100%
    }
    .contact-us-lower-selector-controll .select-selected {
        color:black!important
    }
    .contact-us-lower-selector-controll .select-items {
        left:0;
        right:0
    }
    .contact-us-lower-info-frame {
        margin-top:0;
        margin-right:0px!important;
        margin-left:0px!important
    }
    .contact-us-lower-info-content {
        font-family:Muli;
        font-size:16px;
        font-weight:700
    }
    .contact-us-lower-info-item2 {
        margin-top:37px;
        max-width:500px
    }
    .contact-us-lower-info-item1 {
        max-width:500px
    }
    .contact-us-lower-info-frame-left {
        margin-right:30px;
        margin-left:30px
    }
    .contact-us-lower-info-frame-left.col-no-padding {
        padding-left:0px!important
    }
    .contact-us-lower-info-frame-right.col-no-padding {
        padding-left:0px!important
    }
    .drop-us-a-call-content-frame {
        margin-bottom:29px
    }
}

.mobile-footer-disclaimer {
    display:none;!important;
}

.contact-us-background {
    display:none;!important;
}